<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>leap</key>
	<dict>
		<key>leap1_0_01</key>
		<string>Прыжок в группировке с поворотом на 180*  (или более) в полете</string>
		<key>leap1_0_02</key>
		<string>Прыжок в группировке с поворотом на 360*  (или более) в полете</string>
		<key>leap1_1_01</key>
		<string>Вертикальный прыжок с согнутой ногой, с поворотом на 180*  (или более) в полете</string>
		<key>leap1_1_02</key>
		<string>Вертикальный прыжок с согнутой ногой, с поворотом в полете на 360* (или более) </string>
		<key>leap1_2_01</key>
		<string>Ножницы вперед с согнутыми во время полуповорота ногами</string>
		<key>leap1_2_02</key>
		<string>Вертикальный прыжок с поворотом 360*(чупа-чупс)</string>
		<key>leap1_3_01</key>
		<string>Вертикальный прыжок, нога вперед, с поворотом на 180*  или более в полете</string>
		<key>leap1_3_02</key>
		<string>Вертикальный прыжок, нога вперед, с поворотом на 360*  или более в полете </string>
		<key>leap1_4_01</key>
		<string>Вертикальный прыжок, нога назад, с поворотом на 180*  или более в полете</string>
		<key>leap1_4_02</key>
		<string>Вертикальный прыжок, нога назад, с поворотом на 360*  или более в полете</string>
		<key>leap1_5_01</key>
		<string>Вертикальный прыжок, нога в сторону, с поворотом на 180*  или более в полете</string>
		<key>leap1_5_02</key>
		<string>Вертикальный прыжок, нога в сторону, с поворотом на 360*  или более в полете</string>
		<key>leap2_0_01</key>
		<string>Прыжок &apos;&apos;Кабриоль&apos;&apos;</string>
		<key>leap2_1_01</key>
		<string>Прыжок прогнувшись</string>
		<key>leap2_1_03</key>
		<string>Прыжок прогнувшись с поворотом 180*</string>
		<key>leap3_0_01</key>
		<string>Ножницы вперед</string>
		<key>leap3_0_02</key>
		<string>Ножницы вперед нога выше головы</string>
		<key>leap3_0_03</key>
		<string>Ножницы назад в кольцо</string>
		<key>leap3_0_05</key>
		<string>Ножницы назад в кольцо с вращением туловища</string>
		<key>leap3_1_01</key>
		<string>Ножницы назад</string>
		<key>leap4_0_02</key>
		<string>Прыжок &apos;&apos;Щука&apos;&apos; ноги врозь, толчок с двух ног</string>
		<key>leap4_0_06</key>
		<string>Прыжок &apos;&apos;Щука&apos;&apos; ноги в стороны в шпагате с наклоном туловища вперед, толчок с двух ног</string>
		<key>leap5_0_01</key>
		<string>Прыжок &apos;&apos;Казак&apos;&apos;</string>
		<key>leap5_0_02</key>
		<string>Прыжок &apos;&apos;Казак&apos;&apos;с наклоном туловища</string>
		<key>leap5_0_03</key>
		<string>Прыжок &apos;&apos;Казак&apos;&apos;с поворотом на 180* (или более) всего тела в полете</string>
		<key>leap5_0_04</key>
		<string>Прыжок &apos;&apos;Казак&apos;&apos; с поворотом на 180* (или более) всего тела в полете и наклоном туловища вперед</string>
		<key>leap5_1_02</key>
		<string>Прыжок &apos;&apos;Казак&apos;&apos; с ногой вверх выше 90*</string>
		<key>leap5_1_03</key>
		<string>Прыжок в кольцо 2-мя ногами толчком 1 или 2 стопами</string>
		<key>leap5_1_04</key>
		<string>Прыжок &apos;&apos;Казак&apos;&apos;с ногой вверх выше 90* и вращением на 180* (или более)</string>
		<key>leap6_0_01</key>
		<string>Прыжок в кольцо одной ногой</string>
		<key>leap6_0_03</key>
		<string>Прыжок в кольцо с поворотом тела в полете (180*  или более)</string>
		<key>leap6_0_04</key>
		<string>Прыжок в кольцо 2-мя ногами толчком 1 или 2 стопами</string>
		<key>leap6_0_06</key>
		<string>Прыжок в кольцо 2-мя ногами с поворотом всего тела в полете (180*  или более) </string>
		<key>leap7_0_02</key>
		<string>Фуэте</string>
		<key>leap7_0_03</key>
		<string>Фуэте в шпагат</string>
		<key>leap7_0_04</key>
		<string>Фуэте в подбивной с наклоном туловища назад</string>
		<key>leap7_0_05</key>
		<string>Фуэте в кольцо 2-мя ногами</string>
		<key>leap7_1_02</key>
		<string>Фуэте в подбивной</string>
		<key>leap7_1_03</key>
		<string>Фуэте в кольцо</string>
		<key>leap7_2_03</key>
		<string>Фуэте в подбивной в кольцо</string>
		<key>leap7_3_03</key>
		<string>Фуэте 1 2 поворота с переходном одной ноги через другую в выпрямленном положении (револьтат с переходом прямыми ногами)</string>
		<key>leap8_0_04</key>
		<string>Перекидной прыжок</string>
		<key>leap8_0_05</key>
		<string>Перекидной прыжок в кольцо</string>
		<key>leap8_1_05</key>
		<string>Перекидной прыжок в шпагате</string>
		<key>leap9_0_01</key>
		<string>Подбивной в полушпагате</string>
		<key>leap9_0_02</key>
		<string>Подбивной в кольцо</string>
		<key>leap9_0_03</key>
		<string>Подбивной в полушпагате с поворотом всего тела в полете (более 180&apos;)</string>
		<key>leap9_0_04</key>
		<string>Подбивной в кольцо с поворотом всего тела в полете (более 180&apos;)</string>
		<key>leap9_0_05</key>
		<string>Подбивной в полушпагате с наклоном назад и поворотом всего тела в полете (более 180&apos;) </string>
		<key>leap9_0_06</key>
		<string>Прыжок шагом с наклоном назад и поворотом всего тела в полете (более 180&apos;) </string>
		<key>leap9_0_07</key>
		<string>Подбивной прыжок шагом со сменой ног (смена прямыми ногами) с наклоном назад и поворотом всего тела в полете (более 180&apos;) </string>
		<key>leap9_1_01</key>
		<string>Подбивной в полушпагате толчком с двух ног</string>
		<key>leap9_1_02</key>
		<string>Подбивной в кольцо с двух ног</string>
		<key>leap9_1_03</key>
		<string>Подбивной в полушпагате с наклоном назад</string>
		<key>leap9_1_04</key>
		<string>Подбивной в кольцо с наклоном назад</string>
		<key>leap9_1_05</key>
		<string>Прыжок шагом в кольцо с наклоном назад</string>
		<key>leap9_1_06</key>
		<string>Прыжок шагом в кольцо со сменой ног(смена согнутой ногой) и поворотом всего тела на 180&apos;</string>
		<key>leap9_1_07</key>
		<string>Прыжок шагом со сменой ног(смена согнутой ногой), наклоном назад и поворотом всего тела на 180&apos;</string>
		<key>leap9_2_02</key>
		<string>Прыжок шагом</string>
		<key>leap9_2_03</key>
		<string>Подбивной в полушпагате с двух ног и наклоном назад</string>
		<key>leap9_2_04</key>
		<string>Подбивной в кольцо с двух ног и наклоном назад</string>
		<key>leap9_2_06</key>
		<string>Подбивной в кольцо со сменой ног(смена прямыми ногами) и поворотом всего тела на 180&apos;</string>
		<key>leap9_2_07</key>
		<string>Прыжок шагом в кольцо со сменой ног(смена прямыми ногами), наклоном назад и поворотом всего тела на 180&apos;</string>
		<key>leap9_3_02</key>
		<string>Прыжок шагом с двух ног</string>
		<key>leap9_5_04</key>
		<string>2 прыжка шагом со сменой толчковой ноги</string>
		<key>leap9_5_05</key>
		<string>Подбивной в полушпагат со сменой ног(смена прямыми ногами) и наклоном назад</string>
		<key>leap9_6_04</key>
		<string>Прыжок шагом в кольцо со сменой ног(смена согнутой ногой) </string>
		<key>leap9_7_05</key>
		<string>Прыжок шагом в кольцо со сменой ног(смена прямыми ногами)</string>
		<key>leap9_9_04</key>
		<string>Прыжок шагом со сменой ног(смена прямыми ногами)</string>
		<key>leap10_0_03</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; с подбивным</string>
		<key>leap10_0_04</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; с подбивным в кольцо</string>
		<key>leap10_0_05</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; с подбивным с наклоном туловища назад</string>
		<key>leap10_0_06</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; в кольцо</string>
		<key>leap10_0_07</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; с наклоном туловища назад</string>
		<key>leap10_1_04</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; с подбивным и сменой ног(смена прямыми ногами) </string>
		<key>leap10_1_05</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; со сменой ног(смена прямыми ногами) </string>
		<key>leap10_1_08</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; в кольцо с наклоном туловища назад</string>
		<key>leap10_2_05</key>
		<string>Прыжок &apos;&apos;жете ан турнан&apos;&apos; с подбивным в кольцо со сменой ног(смена прямыми ногами)</string>
		<key>leap11_0_05</key>
		<string>Баттерфляй (&apos;&apos;Бедуинский&apos;&apos; прыжок в наклонной  плоскости)</string>
	</dict>
	<key>rota</key>
	<dict>
		<key>rota7_1_03</key>
		<string>От толчка кистями вращение (360°) на животе, ноги вверх в шпагат, руки в стороны или вверх</string>
		<key>rota7_0_04</key>
		<string>От толчка кистями вращение (360 ) на животе, руки и ноги вверх</string>
		<key>rota7_0_03</key>
		<string>На полу, задний шпагат с боковым кувырком (360 )</string>
		<key>rota7_0_01</key>
		<string>На полу, передний шпагат с боковым кувырком (360 )</string>
		<key>rota6_1_01</key>
		<string>Спиральный поворот с полной волной</string>
		<key>rota6_0_04</key>
		<string>Вращение &quot;penche&quot;</string>
		<key>rota6_0_01</key>
		<string>Циркуль с наклоном вперед или в сторону</string>
		<key>rota6_0_03</key>
		<string>Циркуль с наклоном туловища назад</string>
		<key>rota5_0_02</key>
		<string>Фуэте (свободная нога в горизонтальном положении или выше) вперед, в сторону, в арабеске, в аттитюде вверх. 360  с ногой все время в горизонтальном положении или выше во время вращения</string>
		<key>rota5_0_01</key>
		<string>Фуэте (свободная нога в пассе и в горизонтальном положении) 360 . Начало с ногой в пассе или в горизонтальном положении</string>
		<key>rota4_0_02</key>
		<string>Казак вперед с наклоном туловища вперед</string>
		<key>rota4_0_01</key>
		<string>Казак вперед</string>
		<key>rota3_5_04</key>
		<string>Передний шпагат с наклоном туловища назад и возвращение во время вращения. Из положения стоя с половиной вращения</string>
		<key>rota3_4_05</key>
		<string>Передний шпагат с наклоном туловища назад и возвращение во время вращения. Из положения стоя с полным вращением</string>
		<key>rota3_4_04</key>
		<string>Передний шпагат с наклоном туловища назад и возвращение во время вращения. Из положения на полу с половиной вращения</string>
		<key>rota3_3_05</key>
		<string>Передний шпагат с наклоном туловища назад и возвращение во время вращения. Из положения на полу с полным вращением</string>
		<key>rota3_3_04</key>
		<string>Шпагат назад без помощи в кольцо</string>
		<key>rota3_3_03</key>
		<string>Шпагат назад с помощью в кольцо</string>
		<key>rota3_2_05</key>
		<string>Шпагат вперед с туловищем в горизонтальном положении</string>
		<key>rota3_2_04</key>
		<string>Шпагат назад без помощи</string>
		<key>rota3_2_03</key>
		<string>Шпагат назад с помощью</string>
		<key>rota3_1_05</key>
		<string>Шпагат назад с туловищем в горизонтальном положении без помощи</string>
		<key>rota3_1_04</key>
		<string>Шпагат назад с туловищем в горизонтальном положении с помощью</string>
		<key>rota3_1_03</key>
		<string>Шпагат в сторону без помощи</string>
		<key>rota3_1_02</key>
		<string>Шпагат в сторону с помощью</string>
		<key>rota3_0_05</key>
		<string>Боковой шпагат с туловищем в горизонтальном положении без помощи</string>
		<key>rota3_0_04</key>
		<string>Боковой шпагат с туловищем в горизонтальном положении с помощью</string>
		<key>rota3_0_03</key>
		<string>Шпагат вперед без помощи</string>
		<key>rota3_0_02</key>
		<string>Шпагат вперед с помощью</string>
		<key>rota2_3_04</key>
		<string>В горизонталь в сторону с туловищем в горизонтальном положении</string>
		<key>rota2_3_02</key>
		<string>В горизонталь вперед, нога согнута</string>
		<key>rota2_2_04</key>
		<string>Пареднее равновесие &apos;&apos;турлян&apos;&apos; </string>
		<key>rota2_2_03</key>
		<string>Наклон туловища вперед к ноге в горизонтальном положении без помощи </string>
		<key>rota2_2_02</key>
		<string>Наклон туловища вперед к ноге в горизонтальном положении с помощью</string>
		<key>rota2_1_04</key>
		<string>Наклон туловища назад, нога в аттитюде</string>
		<key>rota2_1_03</key>
		<string>Атитюд нога согнута</string>
		<key>rota2_1_02</key>
		<string>В горизонталь в сторону</string>
		<key>rota2_0_04</key>
		<string>Наклон туловища назад, нога в горизонтальном положении в арабеске</string>
		<key>rota2_0_03</key>
		<string>В горизонтальном положении (арабеск)</string>
		<key>rota2_0_02</key>
		<string>В горизонталь вперед</string>
		<key>rota1_3_01</key>
		<string>Наклон туловища назад, свободная нога ниже горизонтали</string>
		<key>rota1_2_01</key>
		<string>Наклон туловища вперед, свободная нога ниже горизонтали</string>
		<key>rota1_1_01</key>
		<string>Свободная нога ниже горизонтали</string>
		<key>rota1_0_01</key>
		<string>Пассе</string>
		<key>rota1_0_03</key>
		<string>Спиральный поворот с волной (&quot;tonneau&quot;)</string>
	</dict>
	<key>bala</key>
	<dict>
		<key>bala8_4_04</key>
		<string>Перевод шпагата спереди назад с помощью</string>
		<key>bala8_3_04</key>
		<string>Перевод шпагата спереди назад с помощью с разворотом на 180</string>
		<key>bala8_1_04</key>
		<string>&quot;Переходка&quot; из переднего шпагата в задний шпагат с наклоном туловища (без возвращения на исходную позицию)</string>
		<key>bala8_2_04</key>
		<string>&quot;Переходка&quot; из заднего шпагата в передний шпагат с наклоном туловища (без возвращения на исходную позицию)</string>
		<key>bala8_0_05</key>
		<string>&quot;Переходка&quot; из заднего шпагата в передний шпагат с наклоном туловища (с возвращением в исходную позицию)</string>
		<key>bala8_0_04</key>
		<string>Из опоры на животе и наклона туловища назад, в опору на груди, ноги вверх без помощи</string>
		<key>bala8_0_02</key>
		<string>Движение назад в положении - опора на локтях</string>
		<key>bala8_0_01</key>
		<string>Движение вперед в положении - опора на локтях</string>
		<key>bala7_1_01</key>
		<string>Полная волна к полу</string>
		<key>bala7_0_03</key>
		<string>Полная волна от пола к положению стоя, с наклоном или без наклона туловища назад</string>
		<key>bala7_0_01</key>
		<string>Полная волна стоя, во всех направлениях</string>
		<key>bala6_3_01</key>
		<string>На колене, свободная нога вверх без помощи</string>
		<key>bala6_2_01</key>
		<string>На колене, свободная нога вверх с помощью</string>
		<key>bala6_1_02</key>
		<string>Лежа на груди, ноги вверх с помощью</string>
		<key>bala6_1_01</key>
		<string>На колене, свободная нога вперед, в горизонтальном положении без помощи</string>
		<key>bala6_0_04</key>
		<string>Вращение в положение лежа на груди, ноги вверх без помощи</string>
		<key>bala6_0_03</key>
		<string>Лежа на груди, ноги вверх без помощи</string>
		<key>bala6_0_02</key>
		<string>Вращение в &quot;кобру&quot; лежа на животе, с наклоном туловища назад</string>
		<key>bala6_0_01</key>
		<string>&quot;Кобра&quot; (лежа на животе, наклон туловища назад)</string>
		<key>bala5_1_02</key>
		<string>Согнутая опорная нога в горизонтальном положении, постепенное сгибание опорной ноги </string>
		<key>bala5_0_02</key>
		<string>&quot;Казак&quot; с ногой вверх вперед без помощи</string>
		<key>bala5_0_01</key>
		<string>Согнутая опорная нога в горизонтальном положении &apos;&apos;Казак&apos;&apos; вперед</string>
		<key>bala4_0_05</key>
		<string>Фуэтэ, нога выше горизонтали минимум в 2 формах + минимум 1 поворот</string>
		<key>bala4_0_03</key>
		<string>Фуэтэ, нога горизонтально минимум в 2 формах + минимум 1 поворот</string>
		<key>bala3_11_04</key>
		<string>Равновесие в &quot;низком&quot;</string>
		<key>bala3_10_04</key>
		<string>Переднее равновесие с ногой вверх в согнутом положении на полной стопе</string>
		<key>bala3_9_04</key>
		<string>Переднее равновесие с ногой вверх на полной стопе</string>
		<key>bala3_8_05</key>
		<string>Переднее равновесие с ногой вверх в согнутом положении</string>
		<key>bala3_8_04</key>
		<string>Боковое равновесие с ногой вверх, шпагат без помощи на полной стопе</string>
		<key>bala3_8_03</key>
		<string>Равновесие в &quot;низком&quot; на полной стопе </string>
		<key>bala3_7_05</key>
		<string>Равновесие в &quot;низком&quot; на полной стопе &apos;&apos;турлян&apos;&apos; (180 )</string>
		<key>bala3_7_04</key>
		<string>Заднее равновесие нога вверх на полной стопе</string>
		<key>bala3_7_03</key>
		<string>Боковое равновесие с ногой вверх, шпагат с помощью на полной стопе</string>
		<key>bala3_6_05</key>
		<string>Переднее равновесие с ногой вверх</string>
		<key>bala3_6_04</key>
		<string>Равновесие с ногой вверх, корпус в горизонтальном положении на полной стопе</string>
		<key>bala3_6_03</key>
		<string>Переднее равновесие с ногой вверх на полной стопе</string>
		<key>bala3_5_06</key>
		<string>Боковое равновесие с ногой вверх, шпагат с помощью &quot;турлян&quot; 180</string>
		<key>bala3_5_05</key>
		<string>Заднее равновесие нога вверх</string>
		<key>bala3_5_04</key>
		<string>Боковое равновесие с ногой вверх, шпагат с помощью </string>
		<key>bala3_5_03</key>
		<string>Свободная нога назад в согнутом положении, в кольцо без помощи на полной стопе</string>
		<key>bala3_4_06</key>
		<string>Переднее равновесие с помощью &quot;турлян&quot; 180</string>
		<key>bala3_4_05</key>
		<string>Равновесие с ногой вверх, корпус в горизонтальном положении</string>
		<key>bala3_4_04</key>
		<string>Переднее равновесие (шпагат с помощью)</string>
		<key>bala3_4_03</key>
		<string>Свободная нога назад задний шпагат без помощи на полной стопе</string>
		<key>bala3_4_02</key>
		<string>Свободная нога назад задний шпагат c помощью на полной стопе</string>
		<key>bala3_3_07</key>
		<string>Равновесие в &quot;низком&quot; &apos;&apos;турлян&apos;&apos; (180 )</string>
		<key>bala3_3_06</key>
		<string>Свободная нога назад в согнутом положении, в кольцо &apos;&apos;турлян&apos;&apos; (180 )</string>
		<key>bala3_3_05</key>
		<string>Свободная нога назад в согнутом положении, в кольцо &apos;&apos;турлян&apos;&apos; (180 )</string>
		<key>bala3_3_04</key>
		<string>Свободная нога назад в согнутом положении, в кольцо с помощью на полной стопе</string>
		<key>bala3_3_03</key>
		<string>Свободная нога назад в согнутом положении, в кольцо с помощью</string>
		<key>bala3_3_02</key>
		<string>Свободная нога в сторону шпагат без помощи на полной стопе</string>
		<key>bala3_2_07</key>
		<string>Переднее равновесие со шпагатом,свободная нога согнута в кольцо &quot;турлян&quot; (180*)</string>
		<key>bala3_2_06</key>
		<string>Свободная нога назад в шпагат без помощи &quot;турлян&quot; (180*)</string>
		<key>bala3_2_05</key>
		<string>Свободная нога назад в шпагат с помощью &quot;турлян&quot; (180*)</string>
		<key>bala3_2_04</key>
		<string>Свободная нога назад в шпагат без помощи</string>
		<key>bala3_2_03</key>
		<string>Свободная нога назад в шпагат с помощью</string>
		<key>bala3_2_02</key>
		<string>Равновесие с ногой вверх вперед(шпагат без помощи) на полной стопе</string>
		<key>bala3_1_07</key>
		<string>Переднее равновесие нога вверх &quot;турлян&quot; (180*)</string>
		<key>bala3_1_05</key>
		<string>Боковое равновесие с ногой вверх с помощью &apos;&apos;турлян&apos;&apos; (180 )</string>
		<key>bala1_0_01</key>
		<string>Равновесие в пассе</string>
		<key>New item - 2</key>
		<string>Равновесие в пассе &apos;&apos;турлян&apos;&apos; (180*)</string>
		<key>New item - 3</key>
		<string>Равновесие в пассе &apos;&apos;турлян&apos;&apos; (360*)</string>
		<key>bala1_1_01</key>
		<string>Пассе с наклоном туловища вперед</string>
		<key>bala1_2_01</key>
		<string>Пассе с наклоном туловища назад</string>
		<key>bala2_0_01</key>
		<string>Свободная нога вперед в горизонтальном положении, на полной стопе</string>
		<key>bala2_0_02</key>
		<string>Свободная нога вперед в горизонтальном положении</string>
		<key>bala2_0_03</key>
		<string>Свободная нога вперед в назад в аттитюд</string>
		<key>bala2_0_04</key>
		<string>Свободная нога вперед в горизонтальном положении &quot;турлян&quot;</string>
		<key>bala2_0_05</key>
		<string>Свободная нога назад в аттитюд &quot;турлян&quot;(180*)</string>
		<key>bala2_0_06</key>
		<string>Переднее Т-равновесие &quot;турлян&quot; (180*)</string>
		<key>bala2_1_01</key>
		<string>Свободная нога в сторону в горизонтальном положении, на полной стопе</string>
		<key>bala2_1_02</key>
		<string>Свободная нога в сторону в горизонтальном положении</string>
		<key>bala2_1_03</key>
		<string>Свободная нога назад в арабеск</string>
		<key>bala2_1_04</key>
		<string>Свободная нога в сторону в горизонтальном положении &quot;турлян&quot;(180*)</string>
		<key>bala2_1_05</key>
		<string>Свободная нога в назад в арабеск &quot;турлян&quot;(180*)</string>
		<key>bala2_1_06</key>
		<string>Боковое Т-равновесие &apos;&quot;турлян&apos;&apos;(180*)</string>
		<key>bala2_2_02</key>
		<string>Свободная нога назад в аттитюд, на полной стопе</string>
		<key>bala2_2_03</key>
		<string>Свободная нога назад в арабеск с наклоном назад, на полной стопе</string>
		<key>bala2_2_04</key>
		<string>Свободная нога назад в арабеск с наклоном назад</string>
		<key>bala2_3_02</key>
		<string>Свободная нога назад в арабеск, на полной стопе</string>
		<key>bala2_3_03</key>
		<string>Равновесие в кольцо с наклоном назад, на полной стопе</string>
		<key>bala2_3_04</key>
		<string>Равновесие в кольцо с наклоном назад</string>
		<key>bala2_4_03</key>
		<string>Переднее Т-равновесие на полной стопе</string>
		<key>bala2_4_04</key>
		<string>Переднее Т-равновесие</string>
		<key>bala2_5_03</key>
		<string>Боковое Т-равновесие на полной стопе</string>
		<key>bala2_5_04</key>
		<string>Боковое Т-равновесие </string>
		<key>bala2_6_03</key>
		<string>Заднеее Т-равновесие на полной стопе</string>
		<key>bala2_6_04</key>
		<string>Заднеее Т-равновесие</string>
		<key>bala3_0_01</key>
		<string>Равновесие с ногой вперед в шпагат с помощью, на полной стопе</string>
		<key>bala3_0_02</key>
		<string>Равновесие с ногой вперед в шпагат с помощью</string>
		<key>bala3_0_03</key>
		<string>Равновесие с ногой вперед в шпагат без помощи</string>
		<key>bala3_0_04</key>
		<string>Равновесие с ногой вперед в шпагат с помощью, &quot;турлян&quot;(180*)</string>
		<key>bala3_0_05</key>
		<string>Равновесие с ногой вперед в шпагат без помощи, &quot;турлян&quot;(180*)</string>
		<key>bala3_0_07</key>
		<string>Равновесие планше, &quot;турлян&quot;(180*)</string>
		<key>bala3_1_01</key>
		<string>Равновесие с ногой в сторону в шпагат с помощью, на полной стопе</string>
		<key>bala3_1_02</key>
		<string>Равновесие с ногой в сторону в шпагат с помощью</string>
		<key>bala3_1_03</key>
		<string>Равновесие с ногой в сторону в шпагат без помощи</string>
		<key>bala3_1_04</key>
		<string>Равновесие с ногой в сторону в шпагат c помощью, &quot;турлян&quot; (180*)</string>
	</dict>
	<key>DER</key>
	<dict>
		<key>DER_0_0</key>
		<string>2 динамических элемента с вращением тела</string>
		<key>DER_0_1</key>
		<string>3 динамических элемента с вращением тела</string>
		<key>DER_0_2</key>
		<string>4 динамических элемента с вращением тела</string>
		<key>DER_0_3</key>
		<string>5 динамических элемента с вращением тела</string>
		<key>DER_0_4</key>
		<string>6 динамических элемента с вращением тела</string>
		<key>DER_1_0</key>
		<string>Изменение оси вращения тела под броском или во время ловли предмета</string>
		<key>DER_1_1</key>
		<string>Без зрительного контроля при броске, ловле</string>
		<key>DER_1_2</key>
		<string>Без помощи кистей рук при броске/ловле</string>
		<key>DER_1_3</key>
		<string>Изменение уровня тела</string>
		<key>DER_1_4</key>
		<string>Проход в предмет при броске, ловле</string>
		<key>DER_1_5</key>
		<string>Броски/ ловля 2-х булав</string>
		<key>DER_1_6</key>
		<string>Ассиметричный бросок 2-х булав. Смешанная ловля (скакалка, булавы). Бросок (ловля) под ногой (ногами) во время прыжка</string>
		<key>DER_1_7</key>
		<string>Бросок и/или ловля под ногой/ногами</string>
		<key>DER_1_8</key>
		<string>Бросок после отбива о пол, после
переката по полу и т.п.</string>
		<key>DER_1_9</key>
		<string>Ловля мяча одной рукой</string>
		<key>DER_2_0</key>
		<string>Ловля скакалки каждой рукой за разные 
концы</string>
		<key>DER_2_1</key>
		<string>С вращением вокруг диаметра в вертикальной плоскости</string>
		<key>DER_2_2</key>
		<string>С вращением вокруг диаметра в горизонтальной плоскости</string>
		<key>DER_2_3</key>
		<string>Наклонная плоскость</string>
		<key>DER_2_4</key>
		<string>Обратный бросок/ отбив</string>
		<key>DER_2_5</key>
		<string>Булавы: каскадные или последовательные броски</string>
		<key>DER_2_6</key>
		<string>Булавы: каскадные или последовательные броски</string>
		<key>DER_2_7</key>
		<string>Раскрытая скакалка</string>
		<key>DER_2_8</key>
		<string>Прямая ловля в перекат предмета</string>
		<key>DER_2_9</key>
		<string>Ловля сразу во вращение предмета</string>
	</dict>
	<key>sub</key>
	<dict>
		<key>sub_5_5_O</key>
		<string>Бросок (2-ой вариант написания)</string>
		<key>sub_3_4_O</key>
		<string>Ассиметричный бросок и ловля двух булав&lt;</string>
		<key>sub_5_4_O</key>
		<string>Нестабильный баланс предмета на части тела</string>
		<key>sub_5_4_N</key>
		<string>Оригинальный элемент(символ записать перед элементом)</string>
		<key>sub_5_3_O</key>
		<string>Ловля</string>
		<key>sub_5_3_N</key>
		<string>Полная волна телом стоя или лежа(не является Трудностью)</string>
		<key>sub_5_2_O</key>
		<string>Бросок</string>
		<key>sub_5_2_N</key>
		<string>Полная волна телом стоя или лежа(не является Трудностью)</string>
		<key>sub_5_1_O</key>
		<string>Бросок ловля</string>
		<key>sub_5_1_N</key>
		<string>Кувырок (прибавляется до или после трудности)</string>
		<key>sub_5_0_O</key>
		<string>Работа предметом (предмет в движении): восьмерки, круги, передачи, закручивание</string>
		<key>sub_5_0_N_S</key>
		<string>Комбинация танцевальных шагов</string>
		<key>sub_4_5_F</key>
		<string>Эшаппе</string>
		<key>sub_4_4_F</key>
		<string>Проход в рисунок или над рисунком ленты</string>
		<key>sub_4_3_F</key>
		<string>Змейка по полу</string>
		<key>sub_4_2_O</key>
		<string>Маленький бросок и ловля(бросок близко к телу)</string>
		<key>sub_4_2_F</key>
		<string>Змейки 4-5 гребней, плотных и одинаковых по высоте</string>
		<key>sub_4_1_O</key>
		<string>Вращательное движение палочки ленты вокруг кисти ИЛИ перекат палочки ленты по части тела ИЛИ отталкивание палочки ленты от части тела</string>
		<key>sub_4_1_F</key>
		<string>Спирали по полу</string>
		<key>sub_4_0_O</key>
		<string>Бумеранг</string>
		<key>sub_4_0_F</key>
		<string>Спираль из 4-5 плотных и одинаковых по высоте витков</string>
		<key>sub_3_6_O</key>
		<string>Каскадный тройной бросок и ловля</string>
		<key>sub_3_5_O</key>
		<string>Каскадный двойной бросок и ловля</string>
		<key>sub_3_3_O</key>
		<string>Броски и ловля двух булав одновременно</string>
		<key>sub_3_3_F</key>
		<string>Маленькие броски и ловля с вращением двух булав одновременно или последовательно</string>
		<key>sub_3_2_O</key>
		<string>Маленький бросок одной булавы</string>
		<key>sub_3_2_F</key>
		<string>Ассиметричные движения булавами(различные по плоскости или амплитуде, плоскостям или направлениям)</string>
		<key>sub_3_1_O</key>
		<string>Серия(мин.3) маленьких кругов одной булавой</string>
		<key>sub_3_1_F</key>
		<string>Серия(мин 3) маленьких кругов обеими булавами</string>
		<key>sub_3_0_O</key>
		<string>Свободное вращение 1, 2 булав на части тела или на полу ИЛИ перекат по части тела или полу ИЛИ отталкивание от тела ИЛИ &quot;соскальзывание&quot; ИЛИ постукивание</string>
		<key>sub_3_0_F</key>
		<string>Мельница: Мин. 4 круга булавами, которые выполняются каждый раз с отставанием, чередуя скрещенные и не скрещенные запястья</string>
		<key>sub_2_4_F</key>
		<string>Ловля мяча одной рукой</string>
		<key>sub_2_3_F</key>
		<string>Широкие движения руками в виде восьмерки с широким движением туловища</string>
		<key>sub_2_2_F</key>
		<string>Серия(мин.3) маленьких отбивов ИЛИ один большой отбив ИЛИ видимый отбив от части тела</string>
		<key>sub_2_1_F</key>
		<string>Перекат по полу</string>
		<key>sub_2_0_O</key>
		<string>Движение с выкрутом мяча ИЛИ вращения кисти вокруг мяча ИЛИ серия маленьких перекатов ИЛИ перекат тела по мячу на полу</string>
		<key>sub_2_0_F</key>
		<string>Перекат через минимум 2 больших сегмента тела</string>
		<key>sub_1_6_F</key>
		<string>Вращение обруча вокруг своей оси: 1 свободное вращение между пальцами или на части тела либо серия вращений на полу(горизонталь)</string>
		<key>sub_1_5_F</key>
		<string>Вращение обруча вокруг своей оси: 1 свободное вращение между пальцами или на части тела либо серия вращений на полу(вертикаль)</string>
		<key>sub_1_4_F</key>
		<string>Вращение обруча на кисти руки (мин 3) или 1 свободное вращение вокруг тела</string>
		<key>sub_1_3_F</key>
		<string>Прямая ловля и перекат предмета</string>
		<key>sub_1_2_F</key>
		<string>Перекат по полу</string>
		<key>sub_1_1_O</key>
		<string>Маленький бросок/ловля</string>
		<key>sub_1_1_F</key>
		<string>Перекат через минимум 2 сегмента тела</string>
		<key>sub_1_0_O</key>
		<string>Проход над обручем всего тела или части тела</string>
		<key>sub_1_0_F</key>
		<string>Проход через обруч всего тела или части тела</string>
		<key>sub_0_0_F</key>
		<string>Проход прыжком через скакалку, вращающуюся вперед, назад, в сторону</string>
		<key>sub_0_0_O</key>
		<string>Вращений скакалки, сложенной вдвое (серия – мин. 3)</string>
		<key>sub_0_1_F</key>
		<string>Проход мелкими прыжками/ скачками через вращающуюся скакалку (мин 3)</string>
		<key>sub_0_1_O</key>
		<string>Маленький бросок, ловля</string>
		<key>sub_0_2_F</key>
		<string>Эшаппе и ловля; спирали</string>
		<key>sub_0_2_O</key>
		<string>Закручивание</string>
	</dict>
	<key>M</key>
	<dict>
		<key>M_0</key>
		<string>Без зрительного контроля</string>
		<key>M_1</key>
		<string>Без помощи кистей руки (рук)</string>
		<key>M_2</key>
		<string>Двойное вращение (скакалка, обруч, лента, булавы) во время прыжков или подпрыгиваний (скачков). Очень быстрое вращение булав (булавы) в полете </string>
		<key>M_3</key>
		<string>С вращением тела (180* и более)</string>
		<key>M_4</key>
		<string>Передачи предмета без помощи рук – минимум 2 различные части тела</string>
		<key>M_5</key>
		<string>2 больших переката предмета по различным частям тела</string>
		<key>M_6</key>
		<string>3 больших переката предмета по различным частям тела</string>
		<key>M_7</key>
		<string>Большой перекат по различным частям тела в позиции на полу</string>
		<key>M_8</key>
		<string>Ловля в перекат предмета по телу</string>
		<key>M_9</key>
		<string>Ловля с проходом в предмет</string>
		<key>M_10</key>
		<string>Ловля сразу во вращение предмета</string>
		<key>M_11</key>
		<string>Ассиметричный бросок 2-х булав. Смешанная ловля (скакалка, булавы). Скрещивание рук во время Прыжков или подпрыгиваний (скачков)</string>
		<key>M_12</key>
		<string>Повторный бросок</string>
		<key>M_13</key>
		<string>Бросок раскрытой, натянутой скакалки</string>
		<key>M_14</key>
		<string>Бросок и/или ловля под ногой/ногами. Технические движения предметом, 
выполняемые под ногой/ ногами во время 
вращения (мельницы, спирали, вращения 
обруча и т.п.)</string>
		<key>M_15</key>
		<string>Наклонная плоскость</string>
		<key>M_16</key>
		<string>Открывающая скобка</string>
		<key>M_17</key>
		<string>Закрывающая скобка</string>
	</dict>
</dict>
</plist>
